services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    environment:
      - MAILGUN_USERNAME
      - MAILGUN_PASSWORD
      - MAILGUN_RECIPIENT
  test-1.27:
    build:
      context: .
      dockerfile: Dockerfile-test-1.27
    volumes:
      - .:/app
    environment:
      - MAILGUN_USERNAME
      - MAILGUN_PASSWORD
      - MAILGUN_RECIPIENT
